// welcome section
.welcome {
    background-color: #fff;
    padding-top: 60px!important;
    padding-bottom: 60px!important;
}

.welcome h2 {
    color: #0e2d45;
    font: 700 32px 'Raleway';
    text-transform: uppercase;
    line-height: normal;
    padding-bottom: 7px;
    position: relative;
}

.welcome h6 { color:#636262; font:400 14px 'Open Sans'; text-transform:uppercase; margin-bottom:0px;}
.welcome h2 { color:#0e2d45; font:700 32px 'Raleway'; text-transform:uppercase; line-height:normal; padding-bottom:7px; position:relative;}
.welcome h2::after { content:""; position:absolute; width:55px; height:2px; background-color:#424242; bottom:0; left:0;}


// Principal desk section
.principal-desk {
    background-color: #fff;
	text-align: right;
}

.principal-desk h2 { color:#0e2d45; font:700 32px 'Raleway'; text-transform:uppercase; line-height:normal; padding-bottom:7px; position:relative;}
.principal-desk h2::after { content:""; position:absolute; width:55px; height:2px; background-color:#424242; bottom:0; right:0;}

// Feature section
.feature {
    // background-color: $dark-white;
}

.feature .section_title{ color: #fff!important; }
.feature .section_title::after{ background-color:#fff!important; }

.feature2 {
    // background-color: $dark-white;
}

.feature2 h2 { color:#fff; font:700 32px 'Raleway'; text-transform:uppercase; line-height:normal; padding-bottom:7px; position:relative;}
.feature2 h2::after { content:""; position:absolute; width:55px; height:2px; background-color:#fff; bottom:0; left:0;}

.feature2 p {
    color: #fff;
}

// Gallery section
.gallery {
	background-color: #fff;
}

// Parallax
.bgimg-1, .bgimg-2 {
    position: relative;
    // opacity: 0.65;
        opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("/images/bgimg-1.jpeg");
    min-height: 400px;
}

.bgimg-2 {
    background-image: url("/images/bgimg-2.jpg");
    // min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1 {
        background-attachment: scroll;
    }
}

.feature .card {
    background-color: rgba(232,231,231,0.86)!important;
    color: $blue;
}

.feature2 .card {
    // background-color: rgba(232,231,231,0.86);
}

.feature2 .card .card-title {
    font-size: 16px;
}

.feature2 h5 {
    font-size: 16px;
}






