// Text color
.text-blue {
	color: $blue;
}

.text-strawberry {
	color: $strawberry;
}

.text-yellow {
	color: $yellow;
}

// Baclground color

.bg-blue {
	background-color: $blue;
}

.bg-strawberry {
	background-color: $strawberry;
}

.bg-yellow {
	background-color: $yellow;
}



