// Site Color
$brand: #8c2e6d;
$blue: #011b3a;
$yellow: #ffd100;

$dark-yellow: #fcb131;
$darken-yellow: #C4820E;
$light-black: #292b33;
$dark-white: #f9f9fc;
$royal-red: #d00060;
$dogwood-red: #d71868;

// Body
// $body-bg: #f5f8fa;
$body-bg: #fff;


// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
// $font-size-base: 0.875rem;
$line-height-base: 1.6;
$body-color: #111;

$enable-rounded: false;
$enable-caret: false;



